<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://github.com/sillyhatxu">
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/shikuan-xu-38887214b/">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="http://www.sillyhatxu.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy; {{today | date}}, Made with
            <i class="material-icons">favorite</i> by
            <a href="http://www.sillyhatxu.com" target="_blank">Sillyhat Xu</a>
        </div>
    </div>
</footer>